<ion-view title="Create Login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list" name="signinForm" ng-submit="onFormSubmit($event)" novalidate>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text"
                           placeholder=""
                           name="username"
                           ng-pattern="/^\d+$/"
                           ng-model="account.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password"
                           placeholder=""
                           name="password"
                           ng-minlength="6"
                           ng-maxlength="20"
                           ng-model="account.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Repeat Password</span>
                    <input type="password"
                           ng-minlength="6"
                           ng-maxlength="20"
                           repeat-password="account.password"
                           ng-model="account.reaptPassword"
                           placeholder="">
                </label>
            </ion-list>
            <button type="submit" class="button button-stable button-block" ng-disabled="signinForm.$invalid">Next</button>
        </form>
    </ion-content>
</ion-view>
