<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" name="signinForm" ng-submit="onFormSubmit($event)" novalidate>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email"
                           name="email"
                           ng-model="account.email"
                           required
                           placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password"
                           name="password"
                           ng-minlength="6"
                           ng-maxlength="60"
                           ng-model="account.password"
                           required
                           placeholder="">
                </label>
            </ion-list>
            <a ui-sref="resetPassword" class="button button-positive button-clear">Forgot password</a>
            <div class="spacer" style="height: 40px;"></div>
            <button type="submit" class="button button-stable button-block" ng-disabled="signinForm.$invalid">Log in</button>
            <a ui-sref="termsAndCondition" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
