<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">
        Back
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <button ui-sref="main.tabs.plantDemo" class="button button-clear button-dark dark" style="position: absolute;right: 5px;" ng-if="vm.isShow">Add</button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="main"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{currentUser.first_name}} {{currentUser.last_name}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-right" menu-close ui-sref="main.tabs.schedule">
          <i class="icon ion-ios-bell icon-small"></i>
          Schedule
        </ion-item>

        <ion-item class="item-icon-right" menu-close ui-sref="main.tabs.plants">
          <i class="icon ion-ios-flower icon-small"></i>
          Plants
        </ion-item>

        <ion-item class="item-icon-right" menu-close ui-sref="main.tabs.plantGrowth">
          <i class="icon ion-arrow-graph-up-right icon-small"></i>
          Growth
        </ion-item>

        <ion-item class="item-divider"></ion-item>

        <ion-item class="item-icon-right" menu-close ui-sref="main.settings">
          <i class="icon ion-ios-gear icon-small"></i>
          Settings
        </ion-item>
        <ion-item class="item-icon-right" ng-click="signout()" menu-close>
          <i class="icon ion-log-out icon-small"></i>
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
