<ion-view title="Plants">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item href="#/plantDetail" class="item-icon-right">Plant A
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item href="#/plantDetail" class="item-icon-right">Plant B
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item href="#/plantDetail" class="item-icon-right">Plant C
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item href="#/plantDetail" class="item-icon-right">Plant D
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item href="#/plantDetail" class="item-icon-right">Plant E
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item href="#/plantDetail" class="item-icon-right">Plant F
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item href="#/plantDetail" class="item-icon-right">Plant G
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item href="#/plantDetail" class="item-icon-right">Plant H
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>