<ion-view title="{{vm.title}}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div
      style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" ng-if="!plant.image"></i>
      <img ng-src="plant.image" ng-if="plant.image">
    </div>
    <ion-list>
      <ion-item class="item-text-wrap">
        This is where description of the plant goes. It could be something long.
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" ng-model="plant.sunlight">Outdoor</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" ng-model="plant.nosunlight">Indoor</ion-toggle>
      <ion-item class="item-divider">Schedule</ion-item>
      <ion-item ng-click="openModal()">{{plant.water_times}}</ion-item>
      <ion-item>6:30 AM, 12:30 PM, 6:30 PM</ion-item>
      <ion-item class="item-divider">Notes</ion-item>
      <label class="item item-input">
        <textarea ng-model="plant.description"> </textarea>
      </label>
    </ion-list>
    <button class="button button-dark button-block" ng-click="addPlant()">Save</button>
    <a ng-click="$ionicGoBack()" class="button button-stable button-block ">Cancel</a>
  </ion-content>
</ion-view>
