<ion-view title="Plant Growth">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list>
            <ion-item class="item-divider">
                <div class="row">
                    <div class="col">Date</div>
                    <div class="col">Outdoor</div>
                    <div class="col">Indoor</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">3/16/2016</div>
                    <div class="col">9</div>
                    <div class="col">7</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">2/22/2016</div>
                    <div class="col">9</div>
                    <div class="col">6</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">1/19/2016</div>
                    <div class="col">9</div>
                    <div class="col">5</div>
                </div>
            </ion-item>
            <ion-item href="#/growthList" class="item-icon-right">Previous readings
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <a href="#/growthReading" class="button button-dark button-block">New Reading</a>
    </ion-content>
</ion-view>
