<ion-view title="Plant Growth List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">
                <div class="row">
                    <div class="col">Date</div>
                    <div class="col">Outdoor</div>
                    <div class="col">Indoor</div>
                </div>
            </ion-item>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <ion-item>
                <div class="row">
                    <div class="col">3/16/2016</div>
                    <div class="col">9</div>
                    <div class="col">7</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">2/22/2016</div>
                    <div class="col">9</div>
                    <div class="col">6</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">1/19/2016</div>
                    <div class="col">9</div>
                    <div class="col">5</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">12/20/2015</div>
                    <div class="col">9</div>
                    <div class="col">5</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">11/19/2015</div>
                    <div class="col">9</div>
                    <div class="col">5</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">10/19/2015</div>
                    <div class="col">9</div>
                    <div class="col">5</div>
                </div>
            </ion-item>
        </ion-list>
        <a href="#/growthReading" class="button button-dark button-block ">New Reading</a>
    </ion-content>
</ion-view>