<ion-view title="{{vm.viewTitle}}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list"></form>
    <ion-list>
      <ion-item ng-if="vm.viewTitle==='Plant'"
                ng-repeat="plant in plantList"
                ui-sref="main.tabs.plantDetails({id:plant.id})"
                class="item-icon-right">
        {{plant.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item ng-if="vm.viewTitle!=='Plant'">
        select plant to view growth
      </ion-item>
      <ion-item ng-if="vm.viewTitle!=='Plant'"
                ng-repeat="plant in plantList"
                ui-sref="main.tabs.plantGrowthDetails({plantId:plant.id})"
                class="item-icon-right">
        {{plant.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
