<ion-view title="Reset Password">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Enter your email address and a one-time use temporary password will be sent to you. Login with that temporary password and you will be prompted to create a new password.</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Email Address">
            </label>
        </form>
        <a href="#/passwordCreate" class="button button-dark button-block ">Submit</a>
        <a href="#/passwordCreate" class="button button-stable button-block ">Cancel</a>
    </ion-content>
</ion-view>