<ion-view title="Reset Password">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div>
      <p>Enter your email address and a one-time use temporary password will be sent to you. Login with that temporary
        password and you will be prompted to create a new password.</p>
    </div>
    <form class="list" name="emailForm" ng-submit="onFormSubmit($event)" novalidate>
      <label class="item item-input">
        <input type="email"
               ng-model="account.email"
               required
               placeholder="Email Address"
               name="email">
      </label>
      <button type="submit" class="button button-dark button-block" ng-disabled="emailForm.$invalid">Submit</button>
      <!--<a href="#/passwordCreate" class="button button-dark button-block ">Submit</a>-->
      <button type="button" ng-click="$ionicGoBack()" class="button button-stable button-block ">Cancel</button>
    </form>
  </ion-content>
</ion-view>
