<ion-view title="Schedule">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Today's Schedule</p>
        </div>
        <div class="list card">
            <div class="item item-divider">6:30 AM</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ui-sref="plantDetails({id:1001})" class="item-icon-right">Plant A
                <i class="icon ion-chevron-right icon-accessory"></i></ion-item>
                    <ion-item href="#/plantDetail" class="item-icon-right">Plant B
                <i class="icon ion-chevron-right icon-accessory"></i></ion-item>
                    <ion-item href="#/plantDetail" class="item-icon-right">Plant C
                <i class="icon ion-chevron-right icon-accessory"></i></ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">12:30 PM</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item href="#/plantDetail" class="item-icon-right">Plant A
                <i class="icon ion-chevron-right icon-accessory"></i></ion-item>
                    <ion-item href="#/plantDetail" class="item-icon-right">Plant B
                <i class="icon ion-chevron-right icon-accessory"></i></ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">6:30 PM</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item href="#/plantDetail" class="item-icon-right">Plant A
                <i class="icon ion-chevron-right icon-accessory"></i></ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
