<ion-view title="Schedule">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div>
      <p>Today's Schedule</p>
    </div>
    <div class="card">
      <div class="item item-divider">{{WaterTime.morning|date:'HH:mm a'}} </div>
      <div class="item item-body">
        <ion-list ng-if="morningSchedules.length>0">
          <ion-checkbox class="checkbox-balanced"
                        ng-change="onIsDoneChange(schedule)"
                        ng-model="schedule.is_done"
                        ng-repeat="schedule in morningSchedules">
            {{schedule.plant.name}}
          </ion-checkbox>
        </ion-list>

        <p class="stable padding-bottom" ng-if="morningSchedules.length===0">Today's {{WaterTime.morning|date:'H:mm a'}} have not schedule</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{WaterTime.noon|date:'HH:mm a'}}</div>
      <div class="item item-body">
        <ion-list ng-if="noonSchedules.length>0">

          <ion-checkbox class="checkbox-balanced"
                        ng-change="onIsDoneChange(schedule)"
                        ng-model="schedule.is_done"
                        ng-repeat="schedule in noonSchedules">
            {{schedule.plant.name}}
          </ion-checkbox>
        </ion-list>
        <p class="stable padding-bottom" ng-if="noonSchedules.length===0">Today's {{WaterTime.noon|date:'H:mm a'}} have not schedule</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{WaterTime.afternoon|date:'HH:mm a'}}</div>
      <div class="item item-body">
        <ion-list ng-if="afternoonSchedules.length>0">

          <ion-checkbox class="checkbox-balanced"
                        ng-change="onIsDoneChange(schedule)"
                        ng-model="schedule.is_done"
                        ng-repeat="schedule in afternoonSchedules">
            {{schedule.plant.name}}
          </ion-checkbox>
        </ion-list>
        <p class="stable padding-bottom" ng-if="afternoonSchedules.length===0">Today's {{WaterTime.afternoon|date:'H:mm a'}} have not schedule</p>
      </div>
    </div>
  </ion-content>
</ion-view>
