<ion-view title="Schedule">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div>
      <p>Today's Schedule</p>
    </div>
    <div class="list card">
      <div class="item item-divider">{{WaterTime.morning|date:'HH:mm a'}}</div>
      <div class="item item-body">
        <ion-list ng-if="morningSchedules.length>0">
          <ion-item ng-repeat="schedule in morningSchedules" ui-sref="plantDetails({id:schedule.plant_id})" class="item-icon-right">
            {{schedule.plant.name}}
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>

        </ion-list>

        <p class="stable padding-bottom" ng-if="morningSchedules.length===0">Today's {{WaterTime.morning}} AM have not schedule</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{WaterTime.noon|date:'HH:mm a'}}</div>
      <div class="item item-body">
        <ion-list ng-if="noonSchedules.length>0">
          <ion-item ng-repeat="schedule in noonSchedules" ui-sref="plantDetails({id:schedule.plant_id})" class="item-icon-right">
            {{schedule.plant.name}}
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
        <p class="stable padding-bottom" ng-if="noonSchedules.length===0">Today's {{WaterTime.noon}} PM have not schedule</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{WaterTime.afternoon|date:'HH:mm a'}}</div>
      <div class="item item-body">
        <ion-list ng-if="afternoonSchedules.length>0">
          <ion-item ng-repeat="schedule in afternoonSchedules" ui-sref="plantDetails({id:schedule.plant_id})" class="item-icon-right">
            {{schedule.plant.name}}
            <i class="icon ion-chevron-right icon-accessory"></i></ion-item>
        </ion-list>
        <p class="stable padding-bottom" ng-if="afternoonSchedules.length===0">Today's {{WaterTime.afternoon}} PM have not schedule</p>
      </div>
    </div>
  </ion-content>
</ion-view>
