<ion-view title="{{vm.title}}">
  <ion-content class="padding">
    <div style="border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; background-color: #fff;"
      class="padding">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"
         ng-if="!plant.image"></i>
      <img ng-src="{{plant.image}}" style="width: 100%;" ng-if="plant.image">
    </div>
    <ion-list>
      <ion-item class="item-text-wrap">
        {{plant.description}}
      </ion-item>

      <ion-toggle toggle-class="toggle-positive"
                  ng-model="plant.sunlight">Sunlight</ion-toggle>
      <ion-toggle toggle-class="toggle-positive"
                  do-not-aollow-both-false="plant.sunlight"
                  ng-model="plant.nosunlight">Nosunlight</ion-toggle>
      <ion-item>
        <label>End Date</label>
        <input type="date" ng-model="plant.end_date" min-date="{{}}" name="end_date">
      </ion-item>

      <ion-item class="item-divider">Schedule</ion-item>

      <ion-item ng-click="openModal()" ng-switch="plant.water_times">
        <span ng-switch-when="1">Once a day</span>
        <span ng-switch-when="2">2 per day</span>
        <span ng-switch-when="3">3 per day</span>
      </ion-item>
      <ion-item ng-switch="plant.water_times">
        <span ng-switch-when="1">{{waterTime.morning|date:'H:mm a'}}</span>
        <span ng-switch-when="2">{{waterTime.morning|date:'H:mm a'}}, {{waterTime.afternoon|date:'H:mm a'}}</span>
        <span ng-switch-when="3">{{waterTime.morning|date:'H:mm a'}}, {{waterTime.noon|date:'H:mm a'}}, {{waterTime.afternoon|date:'H:mm a'}}</span>
      </ion-item>
      <ion-item class="item-divider">Notes</ion-item>
      <label class="item item-input">
        <textarea ng-model="plant.notes"> </textarea>
      </label>
    </ion-list>
    <div>
      <button class="button button-dark button-block" ng-click="savePlant()">Save</button>
      <button ng-click="$ionicGoBack()" class="button button-stable button-block ">Cancel</button>
    </div>
  </ion-content>
</ion-view>
