<ion-view view-title="Water Time Settings">

  <ion-content>
    <form name="waterTimeForm" ng-submit="onFormSubmit()" novalidate>
      <div class="list">
        <label class="item item-input" ng-click="openDatePicker('morning')">
          <span class="input-label">Morning</span>
          <p ng-bind="vm.morning|date:'HH:mm'"></p>
        </label>

        <label class="item item-input" ng-click="openDatePicker('noon')">
          <span class="input-label">Noon</span>
          <p ng-bind="vm.noon|date:'HH:mm'"></p>
        </label>

        <label class="item item-input" ng-click="openDatePicker('afternoon')">
          <span class="input-label">Afternoon</span>
          <p ng-bind="vm.afternoon|date:'HH:mm'"></p>
        </label>
      </div>

      <div class="padding-horizontal">
        <button class="button button-stable button-block" type="submit">Submit</button>
      </div>

    </form>
  </ion-content>
</ion-view>
