<ion-view title="Plant Growth List">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-divider">
        <div class="row">
          <div class="col">Date</div>
          <div class="col">Sunlight</div>
          <div class="col">NoSunlight</div>
        </div>
      </ion-item>
      <ion-item ng-if="growthList.length>0" ng-repeat="growth in growthList">
        <div class="row">
          <div class="col">{{growth.date}}</div>
          <div class="col">{{growth.sunlight}}</div>
          <div class="col">{{growth.nosunlight}}</div>
        </div>
      </ion-item>

      <ion-item ng-if="growthList.length==0">
        Have no growth reading,please add new
      </ion-item>

    </ion-list>
    <a ui-sref="tab.growthReading({plantId:vm.plantId})" class="button button-dark button-block">New Reading</a>
  </ion-content>
</ion-view>
