<ion-view title="Terms and Condition">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra augue vel quam ultrices, at laoreet diam sollicitudin. Aliquam dui lorem, sollicitudin ut turpis quis, maximus ultrices risus. Vivamus nec metus lobortis, imperdiet erat
                eu, auctor dui. In hac habitasse platea dictumst. Praesent eu viverra mi, at lobortis felis. Maecenas ac nibh at justo egestas condimentum dictum quis magna. Donec rhoncus quam et congue hendrerit.</p>

            <p>Sed vel sodales est. Suspendisse potenti. Etiam porta dignissim odio, eu euismod mauris eleifend sed. Cras at tristique odio. Nulla porttitor lacus nibh. Aliquam egestas mattis egestas.</p>

            <p>Curabitur a lorem dictum, sodales risus ac, molestie nibh. Nunc convallis, odio a congue molestie, lectus neque iaculis turpis, vel tempor eros metus ac nibh.</p>
        </div>
        <a ui-sref="register" class="button button-stable button-block ">I Agree!</a>
    </ion-content>
</ion-view>
