<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button back-button button-icon icon ion-ios-arrow-back" ng-click="closeModal()">Back</button>
    </div>
    <h1 class="title">Water Frequency</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>

      <ion-radio class="item-divider stable-bg" name="schedule" ng-model="plant.water_times" value="3">3 per day</ion-radio>
      <ion-item>{{WaterTime.morning|date:'H:mm a'}}</ion-item>
      <ion-item>{{WaterTime.noon |date:'H:mm a'}}</ion-item>
      <ion-item>{{WaterTime.afternoon |date:'H:mm a'}}</ion-item>
    </ion-list>
    <ion-list></ion-list>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list>
      <ion-radio class="item-divider stable-bg" name="schedule" ng-model="plant.water_times" value="2">2 per day</ion-radio>
      <ion-item>{{WaterTime.morning |date:'H:mm a'}}</ion-item>
      <ion-item>{{WaterTime.afternoon |date:'H:mm a'}}</ion-item>

    </ion-list>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list>
      <ion-radio class="item-divider stable-bg" name="schedule" ng-model="plant.water_times" value="1">Once a day</ion-radio>
      <ion-item>{{WaterTime.morning |date:'H:mm a'}}</ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
