<ion-view title="Water Frequency">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-radio name="schedule">3 per day</ion-radio>
            <ion-item>6:30 AM</ion-item>
            <ion-item>12:30 PM</ion-item>
            <ion-item>6:30 PM</ion-item>
        </ion-list>
        <ion-list></ion-list>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <ion-list>
            <ion-radio name="schedule">2 per day</ion-radio>
            <ion-item>6:30 PM</ion-item>
            <ion-item>6:30 AM</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <ion-list>
            <ion-radio name="schedule">Once a day</ion-radio>
            <ion-item>6:30 AM</ion-item>
        </ion-list>
    </ion-content>
</ion-view>